*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    font-family: 'arial', 'Comic Sans MS';
}

#confirmTwo{
    display: none;
}
#result{
    display: none;
}

.title{
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
}

.text{
    text-align: center;
    color: red;
    font-size: 16px;
    line-height: 21px;
}

.programm{
    display: block;
    width: 500px;
    height: 300px;
    margin-left: 90%;
    margin-top: 20%;
    background-image: url("./img/background-programm.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.process{
    display: block;
    padding: 10px;
}

.result{
    display: block;
    padding: 20px;
}

.input{
    display: block;
}

.input_value{
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button_input{
    display: block;
    width: 125px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.howRightAnswer{
    color: green;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    line-height: 21px;
}

.howFalseAnswer{
    color: red;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    line-height: 21px;
}

.reload{
    display: block;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    margin-top: 50px;
}